client/node_modules/**
client/config/*
!client/config/*.Public.*
server/*
!server/src
server/src/config/*
!server/src/config/*.Public.*
server/src/**/__pycache__/**
server/src/assets/**/**.*
server/src/**/test/**